@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;0,700;1,500;1,600&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
html,
body{
    background: #2A2A2A;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    height: 100%;
}
.main{
    /*padding: 0 2.5rem;
    max-width: 1200px;*/
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
header{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
a{
    color: #000;
}
.logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #fff;
}

.content{
    flex: 1 1 auto;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
footer{
    background-color: #151515;
}
.btn-reg{
    color: #1B0F0F;
    cursor: pointer;
    width: 170px;
    height: 62px;
    /*clip-path: polygon(4% 29%, 100% 10%, 100% 90%, 0 90%);*/
    clip-path: polygon(4% 30%, 100% 15%, 100% 85%, 0 85%);
    background: #66c0f4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-info {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-info {
    display: flex;
    color: #fff;
    width: 700px;
    flex-direction: column;
    gap: 10px;
}
.left-info p{
    color: #5D5D5D;
}
span.info-color {
    color: #66C0F4;
}
.btn-quest{
    margin-top: 20px;
    color: #1B0F0F;
    cursor: pointer;
    width: 170px;
    height: 62px;
    /*clip-path: polygon(4% 29%, 100% 10%, 100% 90%, 0 90%);*/
    clip-path: polygon(0 15%, 96% 31%, 100% 85%, 0 85%);
    background: #F5BD4B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-info {
    margin-bottom: 200px;
    height: 80px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-info{
    color: #5D5D5D;
    display: flex;
    align-items: center;
    width: 604px;
    height: 518px;
    background: #434343;
    justify-content: center;
    font-size: 100px;
}
.menu {
    padding: ;
    color: #8A8C90;
    width: 300px;
    position: fixed;
    background: #000;
    bottom: 10px;
    margin: 0 auto;
    z-index: 15;
    width: 90vw;
    left: 0;
    right: 0;
    background: #373D41;
    border-radius: 15px;
    height: 60px;
}

.centerito {
    -webkit-clip-path: url(#myClip);
    height: 70px;
    width: 70px;
    display: flex;
    background: #54595A;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -18px;
}
.btn-menu{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.iconify{
    font-size: 40px;
}
.buttons {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
svg.iconify.iconify--fa6-solid:house {
    font-size: 60px;
}
.logo span p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: #F5BD4B;
    animation: blinkCursor 1.2s steps(3) infinite;
}
@keyframes blinkCursor{
    0%, 50%{
        opacity: 0;
    }
    51%, 100%{
        opacity: 1;
    }
}

.logo span p{
    display: -webkit-inline-box;
    position: relative;
    color: #F5BD4B;
    overflow: hidden;
}
.logo span p{
    animation: typing 4s steps(2) infinite;
}
@keyframes typing{
    0%{
        width: 0;
    }
    40%{
        width: 40.89px;
    }
    100%{
        width: 0;
    }
}
.bottom-menu{
    display: none;
}
